.cart-icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  &:hover {
    cursor: pointer;
  }

  .incrementer {
    position: absolute;
    font-weight: bold;
    top: 4px;
    left: 50%;
  }
}
