.checkout-page {
    width: 100%;

  .checkout-header {
    width: 80%;
    display: flex;
    margin: 0 auto 10px auto;

    .header-block {
      width: 20%;
      text-align: center;

      & > span {
        font-weight: bolder;
        font-size: 18px;
      }
    }
  }

  .no-items-container {
    padding: 10px 20px;

    .custom-link {
      cursor: pointer;
      color: blue;

      &:active {
        color: red;
      }
    }
  }
}